# Flask Configuration
FLASK_APP=wsgi.py
FLASK_ENV=development
DEBUG=True

# Python Configuration
PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1

# Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_USER=developer
DB_PASSWORD=******
DB_NAME=tcc_20226_sesi_t3d

# MySQL Root Password
MYSQL_ROOT_PASSWORD=******

# PHPMyAdmin Configuration
PMA_HOST=mysql
PMA_USER=developer
PMA_PASSWORD=developer
