{% extends 'base.html' %}
{% block title %}Almoxarifado - Estoque{% endblock %}
{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock %}
{% block estoque_active %}active{% endblock %}
{% block content %}
    <div class="table-header-wrapper">
        <h3>Estoque</h3>
        <button type="button" class="btn btn-primary" onclick="modalAdicionar('Novo Item')">Adicionar Item</button>
    </div>
    <table class="table table-bordered mt-3">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="tabela">
            <tr>
                <td>1</td>
                <td>Teclado Mecânico</td>
                <td>15</td>
                <td>Disponível</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mouse Gamer</td>
                <td>30</td>
                <td>Disponível</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Monitor 24pol</td>
                <td>8</td>
                <td>Baixo</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Headset USB</td>
                <td>22</td>
                <td>Disponível</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Webcam Full HD</td>
                <td>10</td>
                <td>Disponível</td>
            </tr>
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock %}