{% extends "client/base_client.html" %}
{% block title %}Minhas Solicitações{% endblock %}
{% block heading %}Minhas Solicitações{% endblock %}
{% block description %}Histórico das suas solicitações.{% endblock %}
{% block content %}
  {% include "client/modules/orders/components/orders_table.html" %}
  {% include "client/modules/orders/components/order_detail_modal.html" %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/client/meus-pedidos.js') }}"></script>
{% endblock %}
